body {
	font-size: 16px;
	color: #000;
	font-family: 'Oxygen', sans-serif;
	
}

/* HEADER */

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}
#nav-list {
  margin-top: 10px;
  color: #951C49;
  text-align: center;
  width: 100%;
}
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #000;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
#nav-list {
  color: #951C49;
  text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
}
/* MAIN CONTENT */
#page-header {
	background-color: #fff;
	font-size: 1.8em;
	font-weight: bold;
}
#main-content {
	padding-bottom: 30px;
	height: 1500px;
	width: 100%;
	background-color: #5588ff;
	margin-top: 20px;
	padding: 25px 10px 25px 10px;
}
